In [1]:
import pandas as pd
import json

In [22]:
flight = pd.read_csv('flight_status.csv')

In [25]:
pd.set_option('display.max_rows', 200)

flight[flight.to=='SGN']

      from   to  active
167    LHR  SGN       0
6551   FUK  SGN       0
6610   NGO  SGN       0
6675   KIX  SGN       1
6795   HND  SGN       1
6895   NRT  SGN       1
7030   PEK  SGN       0
7126   CTU  SGN       0
7268   CAN  SGN       0
7435   KMG  SGN       0
7501   NNG  SGN       1
7631   PVG  SGN       0
7725   SZX  SGN       1
7825   WUH  SGN       0
7866   XMN  SGN       0
7884   XIY  SGN       0
8031   HKG  SGN       1
8163   KHH  SGN       0
8191   RMQ  SGN       0
8285   TPE  SGN       1
8376   PUS  SGN       0
8521   ICN  SGN       1
8798   DEL  SGN       1
8877   CCU  SGN       0
8942   BOM  SGN       0
9192   BWN  SGN       1
9223   PNH  SGN       1
9241   REP  SGN       1
9267   KOS  SGN       1
9319   CGK  SGN       0
9391   DPS  SGN       0
9416   PKZ  SGN       0
9435   JHB  SGN       1
9550   KUL  SGN       1
9598   PEN  SGN       1
9630   RGN  SGN       0
9744   MNL  SGN       1
9858   SIN  SGN       1
9998   BKK  SGN       1
10051  DMK  SGN       0
10134  CNX  SGN       0
10199  HKT  SGN       0
10218  UTH  SGN       0
11248  DOH  SGN       1
11812  DXB  SGN       0
13482  CDG  SGN       1
18195  FRA  SGN       0
19716  ZRH  SGN       0
25640  SVO  SGN       1
27350  IST  SGN       0
28404  HEL  SGN       0
30197  MEL  SGN       1
30268  SYD  SGN       1

In [2]:
airport = pd.read_json('airport.json')

In [3]:
airport

,country,location,name,code
0,Algeria,Adrar,Touat-Cheikh Sidi Mohamed Belkebir Airport,AZR
1,Algeria,Algiers,Houari Boumedienne Airport,ALG
2,Algeria,Annaba,Rabah Bitat Airport,AAE
3,Algeria,Batna,Batna Airport,BLJ
4,Algeria,Bejaia,Soummam Airport,BJA
...,...,...,...,...
1300,Tuvalu,Funafuti,Funafuti International Airport,FUN
1301,Vanuatu,Luganville,Santo-Pekoa International Airport,SON
1302,Vanuatu,Port Vila,Bauerfield International Airport,VLI
1303,Wallis and Futuna Islands,Futuna,Pointe Vele Airport,FUT
1304,Wallis and Futuna Islands,Wallis,Hihifo Airport,WLS

In [4]:
airport[airport.code=='CDG']

     country location                       name code
837  Belgium    Paris  Charles de Gaulle Airport  CDG

In [44]:
df = pd.read_csv('flight_status_merged.csv')

In [45]:
df

,from,to,active,country_from,location_from,name_from,country_to,location_to,name_to
0,LHR,ALG,1,United Kingdom,London,Heathrow Airport,Algeria,Algiers,Houari Boumedienne Airport
1,LHR,PER,1,United Kingdom,London,Heathrow Airport,Australia,Perth,Perth Airport
2,LHR,VIE,1,United Kingdom,London,Heathrow Airport,Austria,Vienna,Vienna International Airport
3,LHR,GYD,1,United Kingdom,London,Heathrow Airport,Albania,Baku,Heydar Aliyev International Airport
4,LHR,BAH,1,United Kingdom,London,Heathrow Airport,Bahrain,Manama,Bahrain International Airport
...,...,...,...,...,...,...,...,...,...
30756,VLI,SUV,0,Vanuatu,Port Vila,Bauerfield International Airport,Fiji,Suva,Nausori International Airport
30757,VLI,MEL,0,Vanuatu,Port Vila,Bauerfield International Airport,Australia,Melbourne,Melbourne Airport
30758,WLS,NAN,1,Wallis and Futuna Islands,Wallis,Hihifo Airport,Fiji,Nadi,Nadi International Airport
30759,WLS,NOU,1,Wallis and Futuna Islands,Wallis,Hihifo Airport,New Caledonia,Nouméa,La Tontouta International Airport
30760,WLS,FUT,1,Wallis and Futuna Islands,Wallis,Hihifo Airport,Wallis and Futuna Islands,Futuna,Pointe Vele Airport

In [ ]:
air